<div class="row">
  <div class="col-md-6">
    <form #selectionForm="ngForm">
      <h5>User selection:</h5>
      <label for="userSelection">Selected user:</label>
      <p-dropdown id="userSelection" name="userSelection" [options]="users" [(ngModel)]="selectedUser" (ngModelChange)="onSelect()"></p-dropdown>
    </form>
  </div>
</div>

<hr>

<div class="row d-flex justify-content-center">
  <div class="col-md-4">
    <form #userInformation="ngForm" (ngSubmit)="onSubmitUserInformation(userInformation)">

          <h5>Personal information</h5>
          <div class="form-group">
            <label for="firstName">First name:</label>
            <input type="text" class="form-control" id="firstName" name="firstName" ngModel required >
          </div>
          <div class="form-group">
            <label for="lastName">Last name:</label>
            <input type="text" class="form-control" id="lastName" name="lastName" ngModel required >
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input id="email" type="text" name="email" class="form-control" ngModel required email>
          </div>
          <div class="form-group">
            <label for="phone">Phone:</label>
            <input id="phone" type="text" name="phone" class="form-control" ngModel required>
          </div>
      <button type="submit" class="btn btn-primary">Update</button>
    </form>
      </div>
      <div class="col-md-4">
        <form #userCredentials="ngForm" (ngSubmit)="onSubmitUserCredentials(userCredentials)" [appMustMatch]="['password', 'confirmPassword']">
          <h5>Security credentials</h5>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password" ngModel minlength="6">
          </div>
          <div class="form-group">
            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" ngModel minlength="6">
          </div>
          <div class="form-group">
            <label for="secQuestion">Security question:</label>
            <input id="secQuestion" type="text" name="secQuestion" class="form-control" ngModel>
          </div>
          <div class="form-group">
            <label for="secAnswer">Answer:</label>
            <input id="secAnswer" type="password" name="secAnswer" class="form-control" ngModel>
          </div>
          <button type="submit" class="btn btn-primary">Update</button>
        </form>
      </div>
</div>

<hr>

<div class="row">
  <div class="col-md-6">
    <label for="userDeletion">Delete selected user: </label>
    <button id="userDeletion" type="button" class="btn btn-danger" (click)="onDelete()">Delete</button>
  </div>
  <div class="col-md-6" *ngIf="this.active; else activeElse">
    <label for="userDeactivation">Deactivate selected user: </label>
    <button id="userDeactivation" type="button" class="btn btn-danger" (click)="onActivate()">Deactivate</button>
  </div>
  <ng-template #activeElse>
    <div class="col-md-6">
      <label for="userActivate">Activate selected user: </label>
      <button id="userActivate" type="button" class="btn btn-danger" (click)="onActivate()">Activate</button>
    </div>
  </ng-template>
</div>
