<div class="row d-flex justify-content-center">
  <div class="col-xs-12 col-md-3">
    <form #registrationForm="ngForm" (ngSubmit)="onSubmit(registrationForm)" [appMustMatch]="['password', 'confirmPassword']">
      <div class="form-group">
        <label for="username">Username:</label>
        <input id="username" type="text" name="username" class="form-control" ngModel required>
      </div>
      <div class="form-group">
        <label for="firstName">First name:</label>
        <input type="text" class="form-control" id="firstName" name="firstName" ngModel required >
      </div>
      <div class="form-group">
        <label for="lastName">Last name:</label>
        <input type="text" class="form-control" id="lastName" name="lastName" ngModel required >
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input id="email" type="text" name="email" class="form-control" ngModel required email>
      </div>
      <div class="form-group">
        <label for="phone">Phone:</label>
        <input id="phone" type="text" name="phone" class="form-control" ngModel required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" name="password" ngModel minlength="6" required>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" ngModel minlength="6"
               required >
      </div>
      <div class="form-group">
        <label for="secQuestion">Security question:</label>
        <input id="secQuestion" type="text" name="secQuestion" class="form-control" ngModel required>
      </div>
      <div class="form-group">
        <label for="secAnswer">Answer:</label>
        <input id="secAnswer" type="password" name="secAnswer" class="form-control" ngModel required>
      </div>
      <div style="text-align: center">
        <button class="btn btn-primary" type="submit">Registration</button>
      </div>
    </form>
  </div>
</div>
