<div class="row">
  <div class="col-md-4">
    <h3>Create new group</h3>
    <form #groupCreateForm="ngForm" (ngSubmit)="onCreate(groupCreateForm)">
      <label for="name">Group name:</label>
      <input id="name" type="text" name="groupName" class="form-control" ngModel required style="margin-bottom: 5%;">
      <label for="teamLeader">Team Leader:</label><br>
      <p-dropdown id="teamLeader" name="selectedTeamLeader" [options]="teamLeaders"
                  ngModel required placeholder="Choose" filter="true">
      </p-dropdown>
      <br>
      <button type="submit" class="btn btn-primary" style="margin-top: 5%;">Create</button>
    </form>
  </div>

  <div class="col-md-4">
    <h3>Delete group</h3>
    <form #deleteForm="ngForm" (ngSubmit)="onDelete(deleteForm)">
      <label for="deleteGroup">Group:</label><br>
      <p-dropdown  id="deleteGroup" name="groupName" [options]="groups"
                   placeholder="Choose" ngModel required filter="true">
      </p-dropdown><br>
      <button type="submit" class="btn btn-danger" style="margin-top: 5%;">Delete</button>
    </form>
  </div>

</div>
<hr>
