<ng-template #modalWindow let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{modalHeader}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p-table
      [value]="selectedDayEvents"
      editMode="row"
      *ngIf="selectedDayEvents.length > 0 && !multipleDaySelection && selectedDayEvents[0].groupId === 'workTime'">
      <ng-template pTemplate="header" >
        <tr>
          <th>Start</th>
          <th>End</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="rowData">
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input" >
                <input name="startHour" type="number" [(ngModel)]="rowData.startHour">
              </ng-template>
              <ng-template pTemplate="output">
                {{pad(rowData.startHour)}}
              </ng-template>
            </p-cellEditor>
            <span *ngIf="rowData.startHour != null && rowData.startMinute!=null">:</span>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input name="startMinute" type="number" [(ngModel)]="rowData.startMinute">
              </ng-template>
              <ng-template pTemplate="output">
                {{pad(rowData.startMinute)}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input name="endHour" type="number" [(ngModel)]="rowData.endHour">
              </ng-template>
              <ng-template pTemplate="output">
                {{pad(rowData.endHour)}}
              </ng-template>
            </p-cellEditor>
            <span *ngIf="rowData.endHour != null && rowData.endMinute!=null">:</span>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input name="endMinute" type="number" [(ngModel)]="rowData.endMinute">
              </ng-template>
              <ng-template pTemplate="output">
                {{pad(rowData.endMinute)}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td style="text-align:center">
            <button *ngIf="!editing"
                    pButton
                    type="button"
                    pInitEditableRow
                    icon="pi pi-pencil"
                    class="ui-button-info"
                    (click)="onRowEditInit(rowData)"></button>
            <button *ngIf="editing"
                    pButton
                    type="button"
                    pSaveEditableRow
                    icon="pi pi-check"
                    class="ui-button-success"
                    style="margin-right: .5em"
                    (click)="onRowEditSave(rowData)"></button>
            <button *ngIf="editing"
                    pButton
                    type="button"
                    pCancelEditableRow
                    icon="pi pi-times"
                    class="ui-button-danger"
                    (click)="onRowEditCancel(rowData, ri)"></button>
          </td>
          <td style="text-align:center">
            <button *ngIf="!editing"
                    pButton
                    type="button"
                    icon="pi pi-times"
                    class="ui-button-danger"
                    (click)="deleteCalendarEvent(ri)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <p
      *ngIf="selectedDayEvents.length > 0 && !multipleDaySelection && selectedDayEvents[0].groupId === 'holiday'">
      A Holiday was set on this day!
    </p>
  </div>
  <div class="modal-footer">
    <p *ngIf="!validEventTime">Invalid event Time</p>
    <button
      type="button"
      class="btn btn-primary"
      (click)="clearEvents()"
      >Clear Events</button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="addNewCalendarEvent('workTime')"
      *ngIf="!multipleDaySelection">Add new event</button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="addNewCalendarEvent('holiday')"
      *ngIf="!multipleDaySelection">Set Holiday</button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="setHolidays()"
      *ngIf="multipleDaySelection">Set Holidays</button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="save()"
      [disabled]="!validEventTime">Save</button>
  </div>
</ng-template>

<p-panel header="User selection" [toggleable]="false">
  <div class="row">
    <form #userSelectionForm="ngForm">
    <div class="col-md-8">
        <div class="row">
          <div class="col">
            <label for="selectUserCalendar">User calendars:</label>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p-dropdown
              id="selectUserCalendar"
              name="calendarUser"
              [options]="users"
              [(ngModel)]="selectedUser"
              ngModel
              placeholder="Choose"
              filter="true">
            </p-dropdown>
          </div>
        </div>
        <div class="row" style="padding-top: 10px">
          <div class="col">
            <button type="button" class="btn btn-primary" (click)="userSelection()">Select</button>
          </div>
        </div>
    </div>
    </form>
    <form #userDetailsForm="ngForm" (ngSubmit)="userDetailsUpdate(userDetailsForm)" style="display: flex; padding-left: 10%">
    <div class="col-md-6">
      <div class="row">
        <div class="col">
          <label for="defNumOfHolidays">Default holidays:</label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input id="defNumOfHolidays" name="defNumOfHolidays" type="number" ngModel>
        </div>
      </div>
    </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col">
            <label for="defNumOfHomeOffice">Default Home office:</label>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input id="defNumOfHomeOffice" name="defNumOfHomeOffice" type="number" ngModel>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-primary" style="position: absolute; bottom: 0;">Update</button>
      </div>
    </form>
  </div>
</p-panel>

  <br><br>

  <full-calendar
    #fullcalendar
    [editable]="false"
    [selectable]="true"
    [displayEventEnd]="true"
    [eventTimeFormat]="timeFormat"
    [events]="eventsModel"
    [header]="options.header"
    [customButtons]="options.customButtons"
    (select)="onSelect($event)"
    [plugins]="options.plugins"
  ></full-calendar>

