<form>
  <br><br>
  <p-panel
    *ngIf="selectedDayEvents.length > 0"
    toggleable="true"
    header="{{getSelectedDay()}}">
    <p-table #mytable [value]="selectedDayEvents" editMode="row" (onEditComplete)="onEditComplete()">
      <ng-template pTemplate="header" >
        <tr>
          <th>Start</th>
          <th>End</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-ri="rowIndex">
        <tr>
          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input" >
                <input pInputText name="startHour" type="number" [(ngModel)]="rowData.startHour">
              </ng-template>
              <ng-template pTemplate="output">
                {{rowData.startHour}}
              </ng-template>
            </p-cellEditor>
            :
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText name="startMinute" type="number" [(ngModel)]="rowData.startMinute">
              </ng-template>
              <ng-template pTemplate="output">
                {{rowData.startMinute}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText name="endHour" type="number" [(ngModel)]="rowData.endHour">
              </ng-template>
              <ng-template pTemplate="output">
                {{rowData.endHour}}
              </ng-template>
            </p-cellEditor>
            :
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText name="endMinute" type="number" [(ngModel)]="rowData.endMinute">
              </ng-template>
              <ng-template pTemplate="output">
                {{rowData.endMinute}}
              </ng-template>
            </p-cellEditor>
          </td>

        </tr>
      </ng-template>
    </p-table>

    <p-footer>
      <div class="ui-helper-clearfix">
        <p-splitButton [style]="{'float':'right'}" label="Save" icon="pi pi-check" (onClick)="save()" [model]="items"></p-splitButton>
      </div>
    </p-footer>
  </p-panel>

<br><br>

<full-calendar
  #fullcalendar
  [editable]="false"
  [selectable]="true"
  [displayEventEnd]="true"
  [eventTimeFormat]="timeFormat"
  [events]="eventsModel"
  [header]="options.header"
  [customButtons]="options.customButtons"
  (select)="onSelect($event)"
  [plugins]="options.plugins"
></full-calendar>
</form>
