<h3>Create new group</h3>
<div class="row">
  <div class="col-md-4">
    <form #groupCreateForm="ngForm" (ngSubmit)="onCreate(groupCreateForm)">
      <label for="name">Group name:</label>
      <input id="name" type="text" name="groupName" class="form-control" ngModel required>
      <label for="teamLeader">Team Leader:</label>
      <p-dropdown id="teamLeader" name="selectedTeamLeader" [options]="users"
                  ngModel required placeholder="Choose">
      </p-dropdown>
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
</div>
<hr>


<h3>Update group</h3>

<form #updateGroupForm="ngForm" (ngSubmit)="onUpdate(updateGroupForm)">
  <div class="row">
    <div class="col-md-4">
      <label for="updateGroup">Group:</label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
    <p-dropdown
      id="updateGroup"
      name="selectedGroup"
      [options]="groups"
      (onChange)="groupSelection($event)"
      required
      ngModel
      placeholder="Choose">
    </p-dropdown>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <label for="updateTeamLeader">Team Leader:</label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p-dropdown
        id="updateTeamLeader"
        name="selectedTeamLeader"
        [options]="users"
        required
        ngModel
        placeholder="Choose">
    </p-dropdown>

  </div>
</div>


<div class="row">
  <div class="col-md-4">
    <label for="selectedDeputies">Selected Deputies</label>
  </div>
</div>
    <div class="row">
      <div class="col-md-4">
    <p-multiSelect
      id="selectedDeputies"
      name="selectedDeputies"
      [options]="users"
      [style] = "{'width': '260px'}"
      ngModel
      required
      ></p-multiSelect>
  </div>
</div>

<div class="row" style="padding-top: 50px">
  <div class="col-md-4">
    <p-pickList
      [source]="sourceUsers"
      [target]="targetUsers"
      [showSourceControls]="false"
      [showTargetControls]="false"
      name="stusers"
      >
      <ng-template let-item pTemplate="item">
        <div class="ui-helper-clearfix">
          <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{item}}</div>
        </div>
      </ng-template>
    </p-pickList>
  </div>
</div>
  <button type="submit" class="btn btn-primary">Update</button>

</form>


<hr>
<h3>Delete group</h3>
<div class="row">
  <div class="col-md-4">
    <form #deleteForm="ngForm" (ngSubmit)="onDelete(deleteForm)">
    <label for="deleteGroup">Group:</label>
    <p-dropdown  id="deleteGroup" name="groupName" [options]="groups"
                 placeholder="Choose" ngModel required>
    </p-dropdown>
    <button type="submit" class="btn btn-danger">Delete</button>
    </form>
  </div>
</div>

